:root {
  --black: #000;
  --gray: #555;
  --white: #fff;
  --offWhite: #e9e9e5;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  line-height: 1.4;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray);
}

p {
  line-height: 1.8rem;
}
