.header {
  background: var(--laurel-green);
  color: var(--linen);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 100px;
  z-index: 2;
  align-items: center;
}

.header a {
  color: inherit;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
}

.header h1 {
  color: var(--linen);
  position: relative;
  display: block;
  z-index: 1;
}

.header h1:after {
  content: 'Old New Borrowed Blue Beauty';
  color: var(--gray);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(3px);
  z-index: -1;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  transition: all 1s ease;
  height: 75px;
  opacity: 0.9;
}

.header a:focus,
.header a:hover {
  color: var(--black);
}
