@media (min-width: 360px) {
  .content {
    padding: 0px 16px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .content {
    max-width: 768px;
    padding: 0px 24px;
  }
}
@media (min-width: 1280px) {
  .content {
    width: 100%;
    max-width: 1200px;
    padding: 0px 32px;
  }
}
